@model HairdressersWebApplication1.Position

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити</h1>

<h3>Ви дійсно хочете видалити?</h3>
<div>
    <h4>Позиція</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PositionId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до списку</a>
    </form>
</div>
