@model HairdressersWebApplication1.Gender

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>Гендер</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GenderId">Змінити</a> |
    <a asp-action="Index">Назад до списку</a>
</div>
